@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
    --grey:rgb(231,231,231);
    --bgOrange:#e84949;
    
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.header-container{
    margin: 0 auto;
    width: 80vw;  
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

a{
    text-decoration: none;
}

.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-img{
    width: 80px;

}
.logo-text{
    margin: -1.2rem;
    font-size: 28px;
    font-weight: bold;
}

.nav-items{
    display: flex;
    padding: 0 4rem;
    gap: 2rem;

}
.nav-items a{
    font-size: 20px;
    color: black;
    text-decoration: none;    
    font-weight: 500;
    cursor: pointer;
}

.nav-items a:hover{
    font-weight: bold;
    transition: font-weight 0.8s;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;

}

.fadded-text{
    position:absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
   /* transition: all 3s;  */ 
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;


}
.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.role{
    font-weight: 800;
    color:#4e45d5 ;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
      
}

.description{
    width: 70%;
    font-weight: 500;
    margin-top: 1rem;
}

.btn-pink{
    background-color: #e84949;
    font-size: 18px;
    padding: 0.8rem 2.3rem;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    width: fit-content;
    cursor: pointer;
    border: solid 3px transparent;
    
}

.btn-pink::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color:#fff;
    z-index: -1;
    font-weight: 400;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    
}

.btn-pink:hover::before{
    transform: scaleX(1);
    
}
.btn-pink:hover{
    color: black;
}

.hero-section-right{
    position: relative; 

}

.absolute{
    position: absolute;
}

.userImg img{
    z-index: -9;
    object-fit: cover;
    
}
.userImg{
    padding: 2.5rem;
    filter: grayscale(1);
    animation: scaleImage 5s linear infinite;
}
 
@keyframes scaleImage{
    0%{
        filter: grayscale(0.7);
        transform: scale(1.1);
    }
    50%{
        filter: grayscale(0);
        transform: scale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter: grayscale(0.7); 
        transform: scale(1.1);
    }
}

.icons-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation: dotsAnimation 5s linear infinite;
}

@keyframes dotsAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.icons-cube{
    top: -0.8em;
    right: 1em;
    z-index: 9;
    animation: cubeAnimation 3s infinite;
}

@keyframes cubeAnimation{
    0%{
        transform: rotateY(0deg) translateY(0px);

    }
    50%{
        transform:  rotateY(180deg) translateY(-12px);
 
      
    }
    100%{
        transform:  rotateY(360deg) translateY(0px);
        
    }
}

.icons-circle{
    z-index: 9;
    bottom: 0;
    left: 0;
    animation: circleAnimation 6s linear infinite;
}

@keyframes circleAnimation{
    50%{
        left: 5%;
        bottom: 10%;
    }

}

.icons-zigzags{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation{
    50%{
        left: 5%;
        top: 2%;
    }

}

.icons-plus{
    z-index: 9;
    top: -0.8rem;    
    left: 50%;
    animation: plusAnimation 5s ease-in infinite;
}

@keyframes plusAnimation{
    50%{
        left: 48%;
        top: 3%;
    }

}

.project-section{
    background-color:var(--grey) ;
    margin-top: 4rem;

}

.project-header{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;   
}

.project-container{
    max-width: 80vw;
    margin: 0 auto;
    padding: 3rem 0;  
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 120px;
}

#project1{
    background-image: url(/Images/Project/Project2.png);
}

#project2{
    background-image: url(/Images/Project/Project1.png);
    margin-left: 120px;
}

#project3{
    background-image: url(/Images/Project/Project4.png);
    margin-left: 120px;
}

.project-card{
    width: 90%;    
    height: 550px;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;    
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1fac;
    /*transform: scaleX(1);*/
    z-index: 0;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10 ;
}

.project-number-right{
    right: -40px;
    top: -45px;
    filter: opacity(0);
}

.project-number-left{
    left: -40px;
    top: -45px;
    filter: opacity(0);
}

.project-card:hover .project-number-left{
    filter: opacity(1);
}
.project-card:hover .project-number-right{
    filter: opacity(1);
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left{
    left:10%;
    
}
.project-content-right{
    right: -20%;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}
 
.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill{
    width: 40px;
}

.project-heading{
    font-size:50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subHeading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-group{
    display: flex;
    gap: 0.9em;
    align-items: center;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 38px;
    transition: 0.7s;
}

.icon:hover{
    color: var(--bgOrange);  
}

.skills-section{
    position: relative;
    display: flex;
    padding: 5rem;
    justify-content: center;
    margin: 10rem auto;
    gap: 30px;   
}

.skill-fade-text{
    position: absolute;
    font-size: 12em;
    font-style: bold;
    color: rgb(231,231,231);
    bottom: -40%;
    right: -12%;
    user-select: none;
    overflow-y: hidden;
}

.skill-section-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.caps{
    font-size: 90px;
}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.skill-discription{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-discription p{
    margin-top: 15px;
}

.skill-section-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    
}

.blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate{
    50%{
        top: 54%;
        left: 56%;
    }
}

.skills-logo{
    width: 90px;
    transform: all 0.5s;
    z-index: 3;
    transition: transform 0.5s;
    object-fit: contain;
}

.skills-logo:hover{
    transform: scale(1.2);
}

.contact-section{
    background-color: var(--grey);
    width: 100%;
}

.contactMe-heading{
    color: var(--bgOrange);
    font-size: 5em;
    padding-top: 2rem;
    text-transform: capitalize;
}

.contactMe-subHeading{
    font-size: 3rem;
    color: #343d68aa;
}

.contact-form{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form{
    display: flex;            
    flex-direction: column;
    width: 70%;
    margin: 2rem 5rem;
    gap: 30px;
}

.form-field-container{
    width: 100%;
}


.form-field{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top: 27px;
}

.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}

#submit-btn{
    border: none;
    font-size:1.4rem ;
    margin: 1rem 0;
}

#submit-btn:hover{
    scale: 0.9;
} 

.submit-icon{
    padding: 0 1rem; 
    font-size: 1.5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;     
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}

.footer-fade-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color:#535c87;
    user-select: none;
    font-size: 5rem ;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper a{
    color: white;
    transition: all 0.6s; 
    font-size: 1.1em;    
}

.link-wrapper a:hover{
    color: var(--bgOrange);
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}

